@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Unbounded:wght@400;700&display=swap");
.color-primary .label-rgb:before {
  content: "51 / 77 / 92";
}

.color-primary .label-hsl:before {
  content: "202deg / 29% / 28%";
}

.color-primary .label-hex:before {
  content: "#334D5C";
}

.color-primary .swatch {
  background: #334D5C;
  color: white;
}

.color-primary .swatch-light {
  background: #45687d;
  color: white;
}

.color-primary .swatch-dark {
  background: #21323b;
  color: white;
}

.color-secondary .label-rgb:before {
  content: "69 / 178 / 157";
}

.color-secondary .label-hsl:before {
  content: "168deg / 44% / 48%";
}

.color-secondary .label-hex:before {
  content: "#45B29D";
}

.color-secondary .swatch {
  background: #45B29D;
  color: black;
}

.color-secondary .swatch-light {
  background: #66c4b2;
  color: black;
}

.color-secondary .swatch-dark {
  background: #378d7d;
  color: white;
}

.color-tertiary .label-rgb:before {
  content: "226 / 122 / 63";
}

.color-tertiary .label-hsl:before {
  content: "22deg / 74% / 57%";
}

.color-tertiary .label-hex:before {
  content: "#E27A3F";
}

.color-tertiary .swatch {
  background: #E27A3F;
  color: black;
}

.color-tertiary .swatch-light {
  background: #e9996b;
  color: black;
}

.color-tertiary .swatch-dark {
  background: #cf5f1f;
  color: white;
}

.color-accent .label-rgb:before {
  content: "239 / 201 / 76";
}

.color-accent .label-hsl:before {
  content: "46deg / 84% / 62%";
}

.color-accent .label-hex:before {
  content: "#EFC94C";
}

.color-accent .swatch {
  background: #EFC94C;
  color: black;
}

.color-accent .swatch-light {
  background: #f3d77b;
  color: black;
}

.color-accent .swatch-dark {
  background: #ebbb1d;
  color: black;
}

.color-primary .label-name:before {
  content: "Dark Teal";
  font-weight: bold;
  text-transform: uppercase;
}

.color-secondary .label-name:before {
  content: "Aqua";
  font-weight: bold;
  text-transform: uppercase;
}

.color-tertiary .label-name:before {
  content: "Tangerine";
  font-weight: bold;
  text-transform: uppercase;
}

.color-accent .label-name:before {
  content: "Sunshine";
  font-weight: bold;
  text-transform: uppercase;
}

strong.primary-font:before,
.type-specimen.primary-font .font-name:before {
  content: "Roboto";
}

strong.accent-font:before,
.type-specimen.accent-font .font-name:before {
  content: "Unbounded";
}

.highlighter {
  background-color: #F5FF9C;
  padding: 0.1em 0.2em;
}

.label {
  background-color: transparent;
  color: #111;
  white-space: normal;
  text-align: left;
  font-size: 1rem;
  border-radius: 0;
  display: block;
  padding: 0 0 0.5em 0;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.label:empty {
  display: block;
}
.color .label {
  color: #000;
}
.color .label.label-color {
  font-weight: normal;
  user-select: all;
}

.label-color:before {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.swatch {
  width: 100%;
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  font-family: monospace;
  font-size: 130%;
}
.swatch.swatch-small {
  height: 50px;
}

.neutral .swatch {
  width: 10%;
}
.neutral .swatch--tint:nth-child(1) {
  background: #b3b3b3;
  color: black;
}
.neutral .swatch--tint:nth-child(2) {
  background: #bbbbbb;
  color: black;
}
.neutral .swatch--tint:nth-child(3) {
  background: #c4c4c4;
  color: black;
}
.neutral .swatch--tint:nth-child(4) {
  background: #cccccc;
  color: black;
}
.neutral .swatch--tint:nth-child(5) {
  background: #d5d5d5;
  color: black;
}
.neutral .swatch--tint:nth-child(6) {
  background: #dddddd;
  color: black;
}
.neutral .swatch--tint:nth-child(7) {
  background: #e6e6e6;
  color: black;
}
.neutral .swatch--tint:nth-child(8) {
  background: #eeeeee;
  color: black;
}
.neutral .swatch--tint:nth-child(9) {
  background: #f7f7f7;
  color: black;
}
.neutral .swatch--tint:nth-child(10) {
  background: white;
  color: black;
}
.neutral .swatch--shade:nth-child(1) {
  background: #999999;
  color: white;
}
.neutral .swatch--shade:nth-child(2) {
  background: #888888;
  color: white;
}
.neutral .swatch--shade:nth-child(3) {
  background: #777777;
  color: white;
}
.neutral .swatch--shade:nth-child(4) {
  background: #666666;
  color: white;
}
.neutral .swatch--shade:nth-child(5) {
  background: #555555;
  color: white;
}
.neutral .swatch--shade:nth-child(6) {
  background: #444444;
  color: white;
}
.neutral .swatch--shade:nth-child(7) {
  background: #333333;
  color: white;
}
.neutral .swatch--shade:nth-child(8) {
  background: #222222;
  color: white;
}
.neutral .swatch--shade:nth-child(9) {
  background: #111111;
  color: white;
}
.neutral .swatch--shade:nth-child(10) {
  background: black;
  color: white;
}

.swatch-light {
  border-radius: 1em 0 0 1em;
}

.swatch-dark {
  border-radius: 0 1em 1em 0;
}

.color-variations {
  padding-left: 1.2em;
}

.utility-colors .swatch {
  height: 50px;
  line-height: 50px;
}

.color-positive .swatch {
  background-color: #45B29D;
}

.color-negative .swatch {
  background-color: #DF5A49;
}

.color-warning .swatch {
  background-color: #EFC94C;
}

.copied:before {
  content: "Copied Hex!" !important;
  animation-name: disappear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.preview {
  width: 100%;
  height: 150px;
  background-color: #334D5C;
}

.type-specimen {
  font-size: 4rem;
}
.type-specimen span:nth-of-type(1),
.type-specimen span:nth-of-type(3) {
  font-weight: bold;
}
.type-specimen span:nth-of-type(3),
.type-specimen span:nth-of-type(4) {
  font-style: italic;
}
.type-specimen span:nth-of-type(1) {
  color: #334D5C;
}
.type-specimen span:nth-of-type(2) {
  color: #45B29D;
}
.type-specimen span:nth-of-type(3) {
  color: #E27A3F;
}
.type-specimen span:nth-of-type(4) {
  color: #EFC94C;
}
.type-specimen span:nth-of-type(5) {
  color: #aaa;
}
.type-specimen.primary-font {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.type-specimen.accent-font {
  font-family: "Unbounded", serif;
}

/* 
== Page Style
*/
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 1em;
  margin: 0 auto;
}

.hero {
  background: -webkit-linear-gradient(-45deg, #334D5C, #45B29D);
  background: -moz-linear-gradient(-45deg, #334D5C, #45B29D);
  background: -o-linear-gradient(-45deg, #334D5C, #45B29D);
  background: linear-gradient(-45deg, #334D5C, #45B29D);
  min-height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
  font-size: 120%;
}

.primary {
  background: #334D5C !important;
  color: white !important;
}

.secondary {
  background: #45B29D !important;
  color: black !important;
}

.tertiary {
  background: #E27A3F !important;
  color: black !important;
}

.accent {
  background: #EFC94C !important;
  color: black !important;
}

.hero h1 {
  color: #fff;
}

.brand {
  color: #111;
  font-weight: 400;
}

.nav-dark {
  background-color: #111;
  color: #fff;
}

.nav-dark .logo {
  filter: invert(100%);
}

nav.nav-dark .burger ~ .menu {
  background-color: #111;
  color: #fff;
}

/*
== Utilities
*/
.reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

.section, section {
  padding: 3em 0;
}

.section-alternate {
  background-color: #fafafa;
}

.no-gap > * {
  padding-left: 0;
}

.feedback {
  border-left: solid 0.5em transparent;
}

.spacer {
  padding: 1em;
}

/*
== duotones
*/
.duotone {
  background: #45B29D;
  position: relative;
  padding: 0 !important;
}
.duotone img {
  display: block;
  width: 100%;
  position: relative;
}
.duotone:before, .duotone:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.duotone:before {
  opacity: 0.1;
}
.duotone:after {
  background-color: #334D5C;
  opacity: 0.5;
}
.duotone img {
  opacity: 0.5;
}
@supports (mix-blend-mode: multiply) {
  .duotone:before {
    content: none;
  }
  .duotone img {
    filter: grayscale(100%) contrast(1.5);
    mix-blend-mode: multiply;
    opacity: 1;
  }
}

/*
== Misc Elements
*/
img {
  max-width: 100%;
  height: auto;
}

figure {
  display: table;
}

.caption, figcaption {
  background-color: #f7f7f7;
  padding: 0.5em;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

/*
== Image Treatments
 */
.image-border {
  border: solid 0.5em rgba(170, 170, 170, 0.2);
}

.image-shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.image-round {
  border-radius: 3000rem;
}

/*
== Gradients
*/
.gradient-1 {
  background: -webkit-linear-gradient(50deg, #334D5C, #45B29D);
  background: -moz-linear-gradient(50deg, #334D5C, #45B29D);
  background: -o-linear-gradient(50deg, #334D5C, #45B29D);
  background: linear-gradient(50deg, #334D5C, #45B29D);
}
.gradient-1 + .label {
  margin: 1em 0;
  line-height: 1.4;
}
.gradient-1 + .label:before {
  content: "gradient-1";
  display: block;
  font-weight: normal;
  color: #777777;
}
.gradient-1 + .label:after {
  content: "Dark Teal + Aqua";
  display: block;
  text-transform: uppercase;
}

.gradient-2 {
  background: -webkit-linear-gradient(50deg, #E27A3F, #EFC94C);
  background: -moz-linear-gradient(50deg, #E27A3F, #EFC94C);
  background: -o-linear-gradient(50deg, #E27A3F, #EFC94C);
  background: linear-gradient(50deg, #E27A3F, #EFC94C);
}
.gradient-2 + .label {
  margin: 1em 0;
  line-height: 1.4;
}
.gradient-2 + .label:before {
  content: "gradient-2";
  display: block;
  font-weight: normal;
  color: #777777;
}
.gradient-2 + .label:after {
  content: "Tangerine + Sunshine";
  display: block;
  text-transform: uppercase;
}

.gradient-3 {
  background: -webkit-linear-gradient(50deg, #45B29D, #8bd2c4);
  background: -moz-linear-gradient(50deg, #45B29D, #8bd2c4);
  background: -o-linear-gradient(50deg, #45B29D, #8bd2c4);
  background: linear-gradient(50deg, #45B29D, #8bd2c4);
}
.gradient-3 + .label {
  margin: 1em 0;
  line-height: 1.4;
}
.gradient-3 + .label:before {
  content: "gradient-3";
  display: block;
  font-weight: normal;
  color: #777777;
}
.gradient-3 + .label:after {
  content: "Aqua + Lightened Aqua";
  display: block;
  text-transform: uppercase;
}

.gradient-4 {
  background: -webkit-linear-gradient(50deg, #334D5C, #57849e);
  background: -moz-linear-gradient(50deg, #334D5C, #57849e);
  background: -o-linear-gradient(50deg, #334D5C, #57849e);
  background: linear-gradient(50deg, #334D5C, #57849e);
}
.gradient-4 + .label {
  margin: 1em 0;
  line-height: 1.4;
}
.gradient-4 + .label:before {
  content: "gradient-4";
  display: block;
  font-weight: normal;
  color: #777777;
}
.gradient-4 + .label:after {
  content: "Dark TEal + Lightened Teal";
  display: block;
  text-transform: uppercase;
}

/*
== user selection
*/
::selection {
  background: #9dd9ce;
}

.lede, .lead {
  font-size: 130%;
}

/*
== Headings
*/
h1 {
  font-family: "Unbounded", serif;
  font-size: 3em;
  padding: 0;
  margin: 0.5em 0 0.4em;
  color: #378d7d;
  line-height: 1.1;
}

h2 {
  font-family: "Unbounded", serif;
  font-size: 2em;
  line-height: 1.2;
}

h1 + h2 {
  margin-top: 0;
  padding-top: 0;
}

h2,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  color: #919191;
  font-size: 1.6em;
}

h4, .caption, figcaption {
  font-weight: bold;
  color: #334D5C;
  font-family: "Unbounded", serif;
}

h5 {
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.8em;
  }
}
/*
== Body Copy
 */
p, .card p {
  margin: 1em 0;
  line-height: 1.5;
}

hr {
  border: none;
  border-bottom: 1px solid #dddddd;
  margin: 2em 0;
}

/*
== tables
 */
table.container {
  table-layout: fixed;
}

th {
  border-bottom: solid 2px #45B29D;
}

.table-reset th {
  border-bottom: none;
}

.table-columns {
  border-spacing: 1em 0;
  border-collapse: separate;
}

/*
== Forms
 */
form {
  max-width: 600px;
  margin: 1em 0;
  font-size: 120%;
}

.important-form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 0.7em 0 0.2em;
}

.searchform {
  display: inline-block;
}

.searchform input {
  margin: 0;
  width: auto;
}

input, textarea, select, form button, form .button {
  font-size: inherit;
}

button, [type=button], [type=reset], [type=submit], .button {
  font-family: "Unbounded", serif;
  text-transform: uppercase;
}

/*
== form feedback system 
*/
.feedback {
  background-color: #fcf3d8;
  border-color: #EFC94C;
  color: #60501e;
  padding: 0.5em 1em;
  margin: 1em 0;
}
.feedback * {
  color: inherit;
}
.feedback.error {
  background-color: #f6d0cb;
  border-color: #DF5A49;
  color: #59241d;
}
.feedback.error * {
  color: inherit;
}
.feedback.success {
  background-color: #b0e0d7;
  border-color: #45B29D;
  color: #1c473f;
}
.feedback.success * {
  color: inherit;
}

.field-error {
  border-color: #DF5A49;
  background-color: #fef7f6;
}

.no {
  color: #7a2115;
}

/*
==picnic recolors
*/
.dropimage, button, .button, [type=submit], [data-tooltip]:after {
  background-color: #334D5C;
}

.success.dropimage, button.success, .success.button, .success[type=submit], .success.label, .success[data-tooltip]:after, .success {
  background: #45B29D;
}

.error.dropimage, button.error, .error.button, .error[type=submit], .error.label, .error[data-tooltip]:after, .error {
  background: #DF5A49;
}

.warning.dropimage, button.warning, .warning.button, .warning[type=submit], .warning.label, .warning[data-tooltip]:after, .warning {
  background: #dbac14;
}

input:focus, textarea:focus, .select select:focus, [type=checkbox] + .checkable:hover:before, [type=radio] + .checkable:hover:before, [type=checkbox]:focus + .checkable:before, [type=radio]:focus + .checkable:before {
  border: solid 1px #334D5C;
}

select:focus, select:active {
  border: solid 1px #334D5C;
  outline: none;
}

th {
  background-color: transparent;
  color: inherit;
}

tr:nth-child(even) {
  background: transparent;
}

.zebra tr:nth-child(even) {
  background: rgba(170, 170, 170, 0.15);
}

input:focus, textarea:focus, .select select:focus {
  border: 1px solid #334D5C;
  background-color: white;
}

/*# sourceMappingURL=styleguide.css.map */
