@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Unbounded:wght@400;700&display=swap");
/* 
== Page Style
*/
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 1em;
  margin: 0 auto;
}

.hero {
  background: -webkit-linear-gradient(-45deg, #334D5C, #45B29D);
  background: -moz-linear-gradient(-45deg, #334D5C, #45B29D);
  background: -o-linear-gradient(-45deg, #334D5C, #45B29D);
  background: linear-gradient(-45deg, #334D5C, #45B29D);
  min-height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
  font-size: 120%;
}

.primary {
  background: #334D5C !important;
  color: white !important;
}

.secondary {
  background: #45B29D !important;
  color: black !important;
}

.tertiary {
  background: #E27A3F !important;
  color: black !important;
}

.accent {
  background: #EFC94C !important;
  color: black !important;
}

.hero h1 {
  color: #fff;
}

.brand {
  color: #111;
  font-weight: 400;
}

.nav-dark {
  background-color: #111;
  color: #fff;
}

.nav-dark .logo {
  filter: invert(100%);
}

nav.nav-dark .burger ~ .menu {
  background-color: #111;
  color: #fff;
}

/*
== Utilities
*/
.reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

.section, section {
  padding: 3em 0;
}

.section-alternate {
  background-color: #fafafa;
}

.no-gap > * {
  padding-left: 0;
}

.feedback {
  border-left: solid 0.5em transparent;
}

.spacer {
  padding: 1em;
}

/*
== duotones
*/
.duotone {
  background: #45B29D;
  position: relative;
  padding: 0 !important;
}
.duotone img {
  display: block;
  width: 100%;
  position: relative;
}
.duotone:before, .duotone:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.duotone:before {
  opacity: 0.1;
}
.duotone:after {
  background-color: #334D5C;
  opacity: 0.5;
}
.duotone img {
  opacity: 0.5;
}
@supports (mix-blend-mode: multiply) {
  .duotone:before {
    content: none;
  }
  .duotone img {
    filter: grayscale(100%) contrast(1.5);
    mix-blend-mode: multiply;
    opacity: 1;
  }
}

/*
== Misc Elements
*/
figure {
  display: table;
}

.caption, figcaption {
  background-color: #f7f7f7;
  padding: 0.5em;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

/*
== Image Treatments
 */
.image-border {
  border: solid 0.5em rgba(170, 170, 170, 0.2);
}

.image-shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.image-round {
  border-radius: 3000rem;
}

/*
== Gradients
*/
.gradient-1 {
  background: -webkit-linear-gradient(50deg, #334D5C, #45B29D);
  background: -moz-linear-gradient(50deg, #334D5C, #45B29D);
  background: -o-linear-gradient(50deg, #334D5C, #45B29D);
  background: linear-gradient(50deg, #334D5C, #45B29D);
}
.gradient-1 + .label {
  margin: 1em 0;
  line-height: 1.4;
}
.gradient-1 + .label:before {
  content: "gradient-1";
  display: block;
  font-weight: normal;
  color: #777777;
}
.gradient-1 + .label:after {
  content: "Dark Teal + Aqua";
  display: block;
  text-transform: uppercase;
}

.gradient-2 {
  background: -webkit-linear-gradient(50deg, #E27A3F, #EFC94C);
  background: -moz-linear-gradient(50deg, #E27A3F, #EFC94C);
  background: -o-linear-gradient(50deg, #E27A3F, #EFC94C);
  background: linear-gradient(50deg, #E27A3F, #EFC94C);
}
.gradient-2 + .label {
  margin: 1em 0;
  line-height: 1.4;
}
.gradient-2 + .label:before {
  content: "gradient-2";
  display: block;
  font-weight: normal;
  color: #777777;
}
.gradient-2 + .label:after {
  content: "Tangerine + Sunshine";
  display: block;
  text-transform: uppercase;
}

.gradient-3 {
  background: -webkit-linear-gradient(50deg, #45B29D, #8bd2c4);
  background: -moz-linear-gradient(50deg, #45B29D, #8bd2c4);
  background: -o-linear-gradient(50deg, #45B29D, #8bd2c4);
  background: linear-gradient(50deg, #45B29D, #8bd2c4);
}
.gradient-3 + .label {
  margin: 1em 0;
  line-height: 1.4;
}
.gradient-3 + .label:before {
  content: "gradient-3";
  display: block;
  font-weight: normal;
  color: #777777;
}
.gradient-3 + .label:after {
  content: "Aqua + Lightened Aqua";
  display: block;
  text-transform: uppercase;
}

.gradient-4 {
  background: -webkit-linear-gradient(50deg, #334D5C, #57849e);
  background: -moz-linear-gradient(50deg, #334D5C, #57849e);
  background: -o-linear-gradient(50deg, #334D5C, #57849e);
  background: linear-gradient(50deg, #334D5C, #57849e);
}
.gradient-4 + .label {
  margin: 1em 0;
  line-height: 1.4;
}
.gradient-4 + .label:before {
  content: "gradient-4";
  display: block;
  font-weight: normal;
  color: #777777;
}
.gradient-4 + .label:after {
  content: "Dark TEal + Lightened Teal";
  display: block;
  text-transform: uppercase;
}

/*
== user selection
*/
::selection {
  background: #9dd9ce;
}

.lede, .lead {
  font-size: 130%;
}

/*
== Headings
*/
h1 {
  font-family: "Unbounded", serif;
  font-size: 5em;
  padding: 0;
  margin: 0.5em 0 0.4em;
  color: #378d7d;
  line-height: 1.1;
}

h2 {
  font-family: "Unbounded", serif;
  font-size: 2.5em;
  line-height: 1.2;
}

h1 + h2 {
  margin-top: 0;
  padding-top: 0;
}

h2,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  color: #919191;
  font-size: 1.8em;
}

h4, .caption, figcaption {
  font-weight: bold;
  color: #334D5C;
  font-family: "Unbounded", serif;
}

h5 {
  font-weight: bold;
}

/*
== Body Copy
 */
p, .card p {
  margin: 1em 0;
  line-height: 1.5;
}

hr {
  border: none;
  border-bottom: 1px solid #dddddd;
  margin: 2em 0;
}

/*
== tables
 */
table.container {
  table-layout: fixed;
}

th {
  border-bottom: solid 2px #45B29D;
}

.table-reset th {
  border-bottom: none;
}

.table-columns {
  border-spacing: 1em 0;
  border-collapse: separate;
}

/*
== Forms
 */
form {
  max-width: 600px;
  margin: 1em 0;
  font-size: 120%;
}

.important-form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 0.7em 0 0.2em;
}

.searchform {
  display: inline-block;
}

.searchform input {
  margin: 0;
  width: auto;
}

input, textarea, select, form button, form .button {
  font-size: inherit;
}

button, [type=button], [type=reset], [type=submit], .button {
  font-family: "Unbounded", serif;
  text-transform: uppercase;
}

/*
== form feedback system 
*/
.feedback {
  background-color: #fcf3d8;
  border-color: #EFC94C;
  color: #60501e;
  padding: 0.5em 1em;
  margin: 1em 0;
}
.feedback * {
  color: inherit;
}
.feedback.error {
  background-color: #f6d0cb;
  border-color: #DF5A49;
  color: #59241d;
}
.feedback.error * {
  color: inherit;
}
.feedback.success {
  background-color: #b0e0d7;
  border-color: #45B29D;
  color: #1c473f;
}
.feedback.success * {
  color: inherit;
}

.field-error {
  border-color: #DF5A49;
  background-color: #fef7f6;
}

.no {
  color: #7a2115;
}

/*
==picnic recolors
*/
.dropimage, button, .button, [type=submit], [data-tooltip]:after {
  background-color: #334D5C;
}

.success.dropimage, button.success, .success.button, .success[type=submit], .success.label, .success[data-tooltip]:after, .success {
  background: #45B29D;
}

.error.dropimage, button.error, .error.button, .error[type=submit], .error.label, .error[data-tooltip]:after, .error {
  background: #DF5A49;
}

.warning.dropimage, button.warning, .warning.button, .warning[type=submit], .warning.label, .warning[data-tooltip]:after, .warning {
  background: #dbac14;
}

th {
  background-color: transparent;
  color: inherit;
}

tr:nth-child(even) {
  background: transparent;
}

.zebra tr:nth-child(even) {
  background: rgba(170, 170, 170, 0.15);
}

input:focus, textarea:focus, .select select:focus {
  border: 1px solid #334D5C;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
