
// ===============================
//   Style Guide Elements
// ===============================

.highlighter{
	background-color:#F5FF9C;
	padding:.1em .2em ;
}

// Side labels

.label {
	background-color: transparent;
	color: $text-color;
	white-space: normal;
	text-align: left;
	font-size: 1rem;
	border-radius: 0;
	display: block;
	padding: 0 0 0.5em 0;

	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

	&:empty {
		display: block;
	}

	

	.color & {
		color: #000;

		&.label-color {
			font-weight: normal;
			user-select: all;
		}
	}
}
.label-color:before{
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

// ===============================
//   Color Section
// ===============================

.swatch {
	width: 100%;
	height: 150px;
	cursor: pointer;
	display: flex;
	align-items:center;
	justify-content: center;
	margin-bottom: 2rem;
	text-align: center;
	font-family: monospace;
	font-size:130%;

	// border-radius: $spacer;

	&.swatch-small {
		height: 50px;
	}
	
}
.neutral .swatch{
	width:10%;		

	&--tint {
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				background: tint($neutral-color, 10*$i);
				color:black;
			}
		}    
	}  
	&--shade {
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				background: shade($neutral-color, 10*$i);
				color:white;
			}
		}    
	}  
}

.swatch-light{
	border-radius: $spacer 0 0 $spacer ;
}
.swatch-dark{
	border-radius: 0 $spacer $spacer 0 ;
}
.color-variations {
	padding-left: 1.2em;
}
.utility-colors {
	.swatch{
		height:50px;
		line-height: 50px;
		
	}	
}
.color-positive {
	.swatch{
		background-color:$positive-feedback-color;
	}	
}

.color-negative {
	.swatch{
		background-color:$negative-feedback-color;
	}
}
.color-warning {
	.swatch{
		background-color:$warning-feedback-color;
	}	
}
.copied{
	&:before{
		content:'Copied Hex!' !important;
		animation-name: disappear;
		animation-duration: 2s;
		animation-fill-mode: forwards;
	}
}
@keyframes disappear{
	from {opacity:1}
	to {opacity:0}
}

// =====================
// Gradient Section
// =====================

.preview{
	width: 100%;
	height: 150px;
	background-color:$primary-color;
}


// ===============================
//   Typography Section
// ===============================

.type-specimen {
	font-size: 4rem;

	span:nth-of-type(1),
	span:nth-of-type(3) {
		font-weight: bold;
	}

	span:nth-of-type(3),
	span:nth-of-type(4) {
		font-style: italic;
	}

	span:nth-of-type(1) {
		color: $primary-color;
	}

	span:nth-of-type(2) {
		color: $secondary-color;
	}

	span:nth-of-type(3) {
		color: $tertiary-color;
	}

	span:nth-of-type(4) {
		color: $accent-color;
	}

	span:nth-of-type(5) {
		color: $neutral-color;
	}



	&.primary-font {
		font-family: $primary-font-stack;
	}

	&.accent-font {
		font-family: $accent-font-stack;
	}
}