//==========================
// Main Typography Variables
//==========================

$primary-font: "Lora";
$accent-font: "Abril Fatface";

// spacing size base
$spacer: 1em;

//==========================
// Main Color Variables
//==========================
$neutral-color:#BAA599;
$text-color: #111;
$text-color-inverse: #fff;
$background-color: #fff;

$primary-color: #D93654;
$primary-color-name: "Crimson";

$secondary-color: #F26B8F;
$secondary-color-name: "Rose";

$tertiary-color: #D9896C;
$tertiary-color-name: "Buff";

$accent-color: #A65A49;
$accent-color-name: "Chocolate";

$positive-feedback-color: #6CC8A4;
$negative-feedback-color:#F95236;
$warning-feedback-color:#F0AE59;


//==========================
//gradients
//==========================

$gradient-1: ($primary-color, $secondary-color);
$gradient-2: ($tertiary-color, $accent-color);
$gradient-3: ($secondary-color, lighten($secondary-color, 20));
$gradient-4: ($primary-color, lighten($primary-color, 20));

//==========================
// Font Stacks
//==========================

$primary-font-stack: "#{$primary-font}", "Helvetica Neue", Helvetica, Arial,
	sans-serif;
$accent-font-stack: "#{$accent-font}", serif;

//==========================
// Color Variation Amounts
//==========================

$lighten-amount: 10;
$light-saturate-amount: 0;

$darken-amount: 10;
$dark-saturate-amount: 0;

// How strong should the added color be in the Mixed Colors?
// Closer to 0% = closer to original base color

$mix-weight: 65%;
